<app-response-filter [(filterText)]="responseFilterText"></app-response-filter>
<p>Current Filter Length: {{responseFilterText().length}}</p>
@if(hasFetchApiReponse()){
<ul data-test="api-response-list">
    @for(response of filteredApiResponse(); track response.id){
    @switch (response.type) {
    @case ('user') {
    <li>User id: {{response.id}}, User name: {{response.name}}</li>
    }
    @case ('message') {
    <li>Post id: {{response.id}}, Post content: {{response.text}}</li>
    }
    @default {
    <li>id:{{response.id}}, Unknown type: {{response.type}}</li>
    }
    }
    }@empty {
    <li>No data in the Api response</li>
    <button data-test="reload-api-reponse" (click)="onLoadApiResponse()">Reload Api Response</button>
    }
</ul>
}@else{
<button data-test="load-api-reponse" (click)="onLoadApiResponse()">Load Api Response</button>
}