<p appHighlight underlineColor="darkgreen">home works!</p>
<label>Enter Counter Prefix:</label><input type="text" [(ngModel)]="counterPrefix" placeholder="Enter Counter Prefix" />
<app-signal-counter [counterPrefix]="counterPrefix" (getActions)="onGetCounterActions($event)"></app-signal-counter>
<button #startLoadingButton (click)="onStartLoading()">Start Loading</button>
@defer(on interaction(startLoadingButton)){
    <ul>
        <li *ngFor="let action of counterActions()">
            {{action}}
        </li>
    </ul>
}@loading(minimum 2s) {
    <p><b><i>Loading...</i></b></p>
}@placeholder {
    <p>Click the "Start Loading" button to load counter action list</p>
}@error {
    <p>Failed to load counter action list</p>
}